ul {
    list-style: none;
    padding: 0;
}

html {
    background-image: url(../img/greatGarden.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 860px;
    margin: 70px auto;
}

.leftSide {
    width: 180px;
    float: left;
}

.leftSide .picFrame {
    border-radius: 8px;
    overflow: hidden;
}

@-webkit-keyframes swing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes swing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.leftSide .picFrame:hover {
    -webkit-animation: swing 0.2s ease-out;
    animation: swing 0.2s ease-out;
}

.leftSide img {
    width: 100%;
    vertical-align: middle;
}

.leftSide p {
    text-align: center;
    margin: 0;
    background-color: #c75454;
}

.leftSide p.MyName {
    font-weight: 600;
    padding-top: 4px;
}

.leftSide p.title {
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 4px;
}

.leftSide ul {
    margin: 0;
    padding: 4px 0;
}

.leftSide nav li {
    font-size: 18px;
    margin: 4px 0;
    padding-left: 10px;
    border-radius: 6px;
    background-color: #eeeeee;
    height: 30px;
    line-height: 30px;
    transition: all 0.5s ease;
}

.leftSide nav li:hover {
    transform: translateX(15px);
}

.leftSide li a {
    margin-left: 12px;
}

.leftSide li span.right {
    vertical-align: middle;
    border-radius: 0 6px 6px 0;
    width: 10px;
    height: 100%;
    background-color: #ddd;
    float: right;
}

.leftSide li span.active {
    background-color: #c75454;
}

.rightSide {
    position: relative;
    float: right;
    height: 500px;
    width: 660px;
    overflow: hidden;
    border-radius: 8px;
    border-right: 4px solid #eeeeee;
    border-top: 4px solid #eeeeee;
    background-color: white;
}

.rightSide .jslogo {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.rightSide .sectionName {
    font-size: 22px;
    color: #c75454;
    font-weight: 600;
    margin-top: 0;
}

.rightSide .info {
    padding: 0 30px;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}

.rightSide .contactInfo {
    margin: 0 30px;
}

.rightSide .basicInfo ul {
    padding: 0;
}

.rightSide .basicInfo,
.rightSide .skillSet {
    margin-left: 20px;
}

.rightSide .basicInfo li {
    font-size: 18px;
    padding: 4px 0;
    border-bottom: 1px solid #eeeeee;
}

.aboutMe ul .mark {
    width: 4px;
    height: 18px;
    float: left;
    background-color: #888;
    margin-right: 6px;
}

.aboutMe .bio {
    text-indent: 24px;
    font-size: 18px;
    line-height: 1.4;
}

.skillSet ul {
    margin-top: 0;
}

.skillSet li {
    padding: 6px 0;
}

.skillSet .skillName {
    display: inline-block;
    width: 100px;
}

.skillSet .range {
    display: inline-block;
    height: 10px;
    background-color: #54c7c7;
    border-radius: 4px;
}

.skillSet .ranges li {
    padding-left: 10px;
}

.r1 {
    width: 50px;
}

.r2 {
    width: 100px;
}

.r3 {
    width: 150px;
}

.r4 {
    width: 200px;
}

.r5 {
    width: 250px;
}

.range-full {
    background-color: #c75454;
    height: 12px;
    width: 250px;
    border-radius: 4px;
    line-height: 12px;
    display: inline-block;
}

.eachBlock {
    padding-top: 40px;
}

.date {
    font-size: 12px;
    color: #666;
}

.event {
    margin-left: 14px;
}

.summary {
    color: #585858;
    text-indent: 18px;
    line-height: 1.4;
}